html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background-color: grey;
}

.main-card {
  background: url(../../../images/bg-pattern-top-desktop.svg), url(../../../images/bg-pattern-bottom-desktop.svg), white;
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 50%, auto 50%;
  padding: 45px 60px;
}
.main-card__flex {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 599px) {
  .main-card__flex {
    display: block;
  }
}
.main-card__grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}
@media (max-width: 599px) {
  .main-card__grid {
    display: block;
  }
}
@media (max-width: 599px) {
  .main-card {
    background: url(../../images/bg-pattern-top-mobile.svg), url(../../images/bg-pattern-bottom-mobile.svg), white;
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 50%, auto 50%;
    padding: 20px;
  }
}

.compagny-summ__heading {
  color: #502050;
  font-weight: 700;
}
.compagny-summ__summary {
  color: #937b92;
}
@media (max-width: 599px) {
  .compagny-summ {
    text-align: center;
  }
}

.star-rating div {
  background-color: #f7f2f7;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 599px) {
  .star-rating div {
    display: block;
  }
}
@media (max-width: 599px) {
  .star-rating__star {
    margin-left: auto;
    margin-right: auto;
    width: 165px;
  }
}
.star-rating__text {
  color: #502050;
  font-weight: 700;
}
@media (max-width: 599px) {
  .star-rating__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.star-rating img {
  margin: 0px 5px;
}

.user-feed {
  background-color: #502050;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
}
@media (max-width: 599px) {
  .user-feed {
    margin-bottom: 20px;
  }
}
.user-feed-1 {
  margin-top: 20px;
}
.user-feed-2 {
  margin-top: 40px;
}
.user-feed-3 {
  margin-top: 60px;
}
.user-feed img {
  display: inline;
  border-radius: 50%;
  height: 100%;
}
.user-feed__name {
  font-weight: 500;
  color: white;
  margin: 0px;
}
.user-feed__buyer {
  font-weight: 500;
  color: #ee68a4;
  margin: 0px;
}
.user-feed__identity {
  height: 20%;
  display: inline-block;
}
.user-feed__identity div {
  display: inline-block;
}
.user-feed__avis {
  font-weight: 400;
  color: white;
}

.margin-offset-vert-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: 599px) {
  .margin-offset-vert-1 {
    margin-top: unset;
    margin-bottom: initial;
  }
}

.margin-offset-vert-2 {
  margin-top: 60px;
  margin-bottom: 30px;
}
@media (max-width: 599px) {
  .margin-offset-vert-2 {
    margin-top: unset;
    margin-bottom: initial;
  }
}

.margin-offset-vert-3 {
  margin-top: 90px;
  margin-bottom: 0px;
}
@media (max-width: 599px) {
  .margin-offset-vert-3 {
    margin-top: unset;
    margin-bottom: initial;
  }
}

.margin-offset-hor-1 {
  margin-left: 30px;
  margin-right: 60px;
}
@media (max-width: 599px) {
  .margin-offset-hor-1 {
    margin-left: unset;
    margin-right: unset;
  }
}

.margin-offset-hor-2 {
  margin-left: 60px;
  margin-right: 30px;
}
@media (max-width: 599px) {
  .margin-offset-hor-2 {
    margin-left: unset;
    margin-right: unset;
  }
}

.margin-offset-hor-3 {
  margin-left: 90px;
  margin-right: 0px;
}
@media (max-width: 599px) {
  .margin-offset-hor-3 {
    margin-left: unset;
    margin-right: unset;
  }
}

/*# sourceMappingURL=front-mentor.css.map */
